In [ ]:
# https://www.youtube.com/watch?v=J6RTD-HWOx8

In [ ]:
!pip install pandas_datareader

In [ ]:
!pip install yfinance

In [2]:
from pandas_datareader import data
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import yfinance as yf 
%matplotlib inline

In [ ]:
start = "2000-01-01"
end = "2021-12-31"
symbol = "^GSPC"  #日経[^N225] ダウ[^DJI]　ナスダック[^NDX]　S&P500[^GSPC]　ビットコイン[^BTC-USD]

yf.pdr_override()
df = data.get_data_yahoo(symbol, start, end)
df

In [ ]:
df.to_csv("S&P500_data.csv")

In [3]:
df = pd.read_csv("S&P500_data.csv")
df.dtypes

Date          object
Open         float64
High         float64
Low          float64
Close        float64
Adj Close    float64
Volume         int64
dtype: object

In [4]:
df["Date"] = pd.to_datetime(df["Date"])
df.dtypes

Date         datetime64[ns]
Open                float64
High                float64
Low                 float64
Close               float64
Adj Close           float64
Volume                int64
dtype: object

In [5]:
df = df.set_index('Date')

In [6]:
df

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
1999-12-31,1464.469971,1472.420044,1458.189941,1469.250000,1469.250000,374050000
2000-01-03,1469.250000,1478.000000,1438.359985,1455.219971,1455.219971,931800000
2000-01-04,1455.219971,1455.219971,1397.430054,1399.420044,1399.420044,1009000000
2000-01-05,1399.420044,1413.270020,1377.680054,1402.109985,1402.109985,1085500000
2000-01-06,1402.109985,1411.900024,1392.099976,1403.449951,1403.449951,1092300000
...,...,...,...,...,...,...
2021-12-23,4703.959961,4740.740234,4703.959961,4725.790039,4725.790039,2194630000
2021-12-27,4733.990234,4791.490234,4733.990234,4791.189941,4791.189941,2264120000
2021-12-28,4795.490234,4807.020020,4780.040039,4786.350098,4786.350098,2217050000
2021-12-29,4788.640137,4804.060059,4778.080078,4793.060059,4793.060059,2369370000
2021-12-30,4794.229980,4808.930176,4775.330078,4778.729980,4778.729980,2390990000

In [11]:
#月初　月末のデータを取得
df_first = df.resample("M").first()
df_last = df.resample("M").last()

#一ヶ月間の変動幅、変動率を計算
df_last["Month Open"] = df_first["Open"].resample("M").first()
df_last["Month Change"] = round(df_last["Close"] - df_first["Open"],1) #変動幅
df_last["Month Rate"] = round((df_last["Close"] - df_first["Open"]) / df_first["Open"] * 100, 2)　#変動比率

df_last

SyntaxError: invalid character in identifier (<ipython-input-11-5d0a1c8d8232>, line 8)

In [10]:
#集約するために「年」「月」「日」をばらす
df_last = df_last.set_index([df_last.index.year, df_last.index.month, df_last.index])
df_last.index.names = ["year", "month", "date"]

df_last

NameError: name 'df_last' is not defined